# Database settings
DATABASE_DRIVER=sqlite3
DATABASE_DEBUG=true
DATABASE_USER=user
DATABASE_PASSWORD=user
DATABASE_HOST=database
DATABASE_PORT=3306
DATABASE_NAME=ignore/db.sqlite3
DATABASE_PARAMS=

#--------------------------

# Server settings

SERVER_HOST=
SERVER_PORT=8080
SERVER_DEBUG=true

#--------------------------

# Server settings

JWT_TOKEN_SECRET=tokenSecret
